<%= form_with(url: credentials_path, method: :post, data: { controller: "credentials", action: "turbo:submit-end->credentials#create" }) do |f| %>
  <div class="flex mb-5 flex-row">
    <%= f.text_field :nickname, placeholder: "How it will be called?" %>
    <%= f.submit :button %>
  </div>
  <%= turbo_frame_tag "webauthn_credential_error" %>
<% end %>
